<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>How this project originated?</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> How this capstone comes about? </h1>
    <p> The project is inspired after feedbacks from interview session with a large bank in Singaopore. 
      The feedback received was that they have massive data but no direction or far too complete to start from</p>
    <br>
    <p>In addtion, the interviewer understand the importance of data and want to solve the Key Question: How to monetize the data?</p>
    <br>
    <p>Hence I kick-start my journey to help company and stakeholders find ways to monetize their data in a simplified way using various recommendation system.</p>

    {% endblock %}
  </body>
</html>